@import '../../app.scss';

.synonym-picker {
  z-index: 2;
  &-list {
    position: absolute;
    box-shadow: rgba(0, 0, 0, 0.12) 0px 2px 10px, rgba(0, 0, 0, 0.16) 0px 2px 5px;
    border-radius: 2px;
    background: rgb(255, 255, 255);
    padding: 5px 0;
  }
  &-item{
    @include text-overflow;

    cursor: pointer;
    width: 100px;
    padding: 0 10px;
    &:hover{
      background: lightgrey;
    }
  }
}